<!DOCTYPE html>
<html lang="hr">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
            <meta name="viewport" content="width=device-width" initial-scale=1.0>
                <title>Developing Custom Services (Factory vs Service vs Provider)</title>
                    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script> <!-- Angular JS CDN -->
                        <link href="css/bootstrap.css" rel="stylesheet"> <!-- Bootstrap.css - From root folder -->
    </head>
<body ng-app="app">
<div ng-controller="emp">
   
        Value of a is {{x}}, 
        but you can change
        <input type=text ng-model="x"/> <br>

        Value of a is {{y}}, 
        but you can change
        <input type=text ng-model="y"/> <br>
    
    Sum = {{sum}} <br>
    <button ng-click="doSum()">Calculate</button>
</div>

 <!-- jQuery CDN -->
<script src="https://code.jquery.com/jquery-3.2.1.js"
integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
crossorigin="anonymous">
</script>
<!-- Bootstrap.js - From root folder -->
<script src="js/bootstrap.js"></script>   
<script type="text/javascript" src="Factory_service.js"></script>
</body>
</html>